@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=New+Tegomin&family=Open+Sans+Condensed:wght@300&display=swap');


body {
    background: url("https://i.ibb.co/52DhPHT/background.png") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin:50px 0; 
    padding:0;
    text-align:center;
}

h1 {
    font-size: 3rem;
    color: rgb(255, 255, 255);
    text-align: inline;
    /* background: rgb(255, 255, 255); */
    margin-bottom: 5rem;
}

h4 {
    font-size: 0.8rem;
    color: rgb(255, 255, 255);
    text-align: inline;
    /* background: rgb(1, 15, 44); */
    border: none
}

li {
    font-size: 1rem;
    color: rgb(255, 255, 255);
    text-align: inline;
    border: none;
}

.li {
    font-size: 1rem;
    color: rgb(255, 255, 255);
    text-align: inline;
    /* background: rgb(1, 15, 44); */
    border: none
}

.lidone {
    font-size: 1rem;
    color: rgb(255, 255, 255);
    text-align: inline;
    /* background: rgb(1, 15, 44); */
    border: none;
    text-decoration:line-through;
}

.date {
    font-size: 1rem;
    color: rgb(255, 255, 255);
    text-align: inline;
    /* background: rgb(1, 15, 44); */
    border: none
}

* {
  font-family: 'New Tegomin';
}

.action-button {
  font-size: 0.6rem;
  height: 1.2rem;
  text-align: center; 
  line-height: 0rem;
  color: rgb(0, 0, 0);
  background: rgb(255, 255, 255);
  border-radius: 25px;
  border: none; 
  cursor: pointer;
}

.action-button:hover {
  cursor: pointer;
  box-shadow: 0 0.4rem 1.4rem 0 rgba(255, 255, 255, 0.6);
  transition: transform 150ms;
  transform: scale(1.05);
}

.action-buttongone {
  font-size: 0rem;
  border: none;
  background: rgb(26, 24, 24);
}

.button {
  font-size: 0.6rem;
  height: 2.3rem;
  text-align: center; 
  line-height: 0rem;
  color: rgb(0, 0, 0);
  background: rgb(255, 255, 255);
  border-radius: 25px;
  border: none; 
  cursor: pointer;
}
.button:hover { color: rgb(1, 68, 62); } 

#link { color: #000000; 
text-decoration: none;} 
#link:hover { color: rgb(1, 68, 62); } 


  .card {
    font-size: 0.6rem;
  background-color: #ffffff;
  color: rgb(26, 21, 21);
  width: 40%;
  padding: 1rem;
  width: 15rem;
  /* height: 0.6rem; */
  display: inline-grid;
  margin: 0.5rem 2rem;
  border:  #000000;
  border-radius: 8px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height:100vh;   */
}

  .welcomebuttons {
  font-size: 1rem;
  background-color: #ffffff;
  color: rgb(26, 21, 21);
  width: 40%;
  padding: 1rem;
  width:8rem;
  display: inline-grid;
  margin: 0.5rem 2rem;
  border:  #000000;
  border-radius: 6px;
}


  .signupbuttons {
  font-size: 0.7rem;
  background-color: #ffffff;
  color: rgb(26, 21, 21);
  width:5rem;
  height: 3rem;
  display: inline-grid;
  border:  #000000;
  border-radius: 6px;
  cursor: pointer;
}

.goal {
  font-size: 0.1rem;
  color: #161515;
  background-color: #161515;
  border:  #000000;
  width:0.1rem;
}