@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=New+Tegomin&family=Open+Sans+Condensed:wght@300&display=swap');


body {
    /* background: url("") no-repeat center center fixed;  */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  
}

h1 {
    font-size: 3rem;
    color: rgb(3, 5, 22);
    text-align: inline;
    /* background: rgb(255, 255, 255); */
    margin-bottom: 5rem;
}

h4 {
    font-size: 1rem;
    color: rgb(255, 255, 255);
    text-align: inline;
    background: rgb(1, 15, 44);
    border: none
}

* {
  font-family: 'New Tegomin';
}

.action-button {
  font-size: 0.6rem;
  height: 1.2rem;
  text-align: inline;
  color: rgb(253, 253, 253);
  background: rgb(0, 1, 56);
  border-radius: 25px;
  border: none
}

.action-button:hover {
  cursor: pointer;
  box-shadow: 0 0.4rem 1.4rem 0 rgba(255, 255, 255, 0.6);
  transition: transform 150ms;
  transform: scale(1.05);
}

.button {
  font-size: 0.6rem;
  height: 2.3rem;
  text-align: center; 
  line-height: 0rem;
  color: rgb(255, 255, 255);
  background: rgb(19, 155, 218);
  border-radius: 25px;
  border: none 
}

#link { color: #ffffff; 
text-decoration: none;} 
#link:hover { color: rgb(119, 240, 230); } 
